* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #fff;
  padding: 10px;
  width: 1005;
}

.container {
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}

h1 {
  font-size: 60px;
  color: #ffff76;
}
.input-container {
  margin: 40px 0;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
}

.input-container input {
  flex: 1;
  border: none;
  outline: none;
  margin-right: 20px;
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
}

.input-container button {
  border: none;
  background-color: #ffff76;
  outline: none;
  padding: 15px 20px;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
}

.input-container input::-webkit-calender-picker-indicator {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 30px;
  cursor: pointer;
}

.outputBox {
  font-size: 20px;
}
